# Clean Project Test Result

compile_errors: []

permission_import: rc=0, stdout=104
, stderr=
